*{
    box-sizing: border-box;
}




body { 
    margin: 0x;
   
}
.layout {
    display: flex;
flex-direction: row;}

 .layout > .side-nav {
    background-color: rgb(240, 154, 74);
    
    width: 30%;
    max-width: 200px;
    min-width: 150px;
    height:100vh ;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0%;
}
.layout>.side-nav > nav {
display: flex;
flex-direction:column;
gap: 8px;

}
.layout>.side-nav >  nav > a {
   
text-decoration: none;
   font-size: 15px;
 
}
.content{ 
    background-color: coral;
width: 60%;
height: 100vh;
padding: 20px;
overflow: auto;
height: 100vh;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 0%;

}
.card-section{
   display: flex; 
   gap: 12px;
   flex-wrap:wrap;
 
flex-direction: row;
}
.card-section> .card{
background-color: rgb(177, 33, 33);
border: solid;
height: 100px;;
flex-shrink: 1;
flex-grow: 1;
flex-basis: 150px;

}