body { border: 10px;
    margin: 0x;
    height: 100vh;
padding: 10px;}
.layout {
    display: flex;
gap: 20px;}
 .sideNav{
    background-color: rgb(19, 174, 235);
    font-size: 30px;
    width: 30%;
    height: 100vh;
    overflow-x: hidden;
    overflow: auto;
    padding: 20px;

}
.sideNav nav{
display: flex;
flex-direction:column;
gap: 8px;

}
.sideNav .item{
    border:solid;
text-decoration: none;
   
 
}
.content.layout{ 
    background-color: rgb(167, 168, 168);
width: 60%;
padding: 20px;
overflow: auto;
height: 100vh;
border: solid;

}
.card-section{
   display: flex; 
   gap: 12px;
   flex-wrap:wrap;
   border: solid;

}
.card{
background-color: aqua;
border: solid;
height:25%;
width: 25%;
gap: 12px;

}