body { 
    margin: 0;
    height: 100vh;}

.div-1 {
    background-color: rgb(100, 15, 10);
height: 25%;


}

.div-2 {
background-color: rgb(10, 15, 200);
height: 25%;


}
.div-3 {
    background-color: rgb(9, 247, 235);
height: 25%;


}
.div-4 {
    background-color: rgb(160, 115, 144);
height: 25%;


}
