*{
    box-sizing: border-box;
}
body{
    margin: 0;
}
main {
    display: flex;
    height: 100vh;

    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.dashboard{
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    border: 1px solid rgb(218, 205, 32);
    background-color: rgb(11, 220, 248);
max-width: 900px;

}
.row {display:flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    border: 1px solid rgb(45, 50, 51);
    flex-wrap: wrap;
}
.col {
    border: solid rgb(209, 78, 85);
    padding: 8px;
    display: flex;
   
}
.col-1 {
    flex: 1 1 0%;
}
 .flex-col    { 

    gap: 8px;
    display: flex;
    padding: 10px;
    flex-direction: column;

  }
  .flex-row    { 

    display: flex; 

  }
 .rwo-1 {
    flex: 2 1 0%;
 gap:inherit ;
border: none;
}
.col-2{   
    flex:2 1 0%;

}


